<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Crear nueva tarea</h1>
            <form (ngSubmit)="crearTarea()">
                <div class="form-group">
                    <label for="titulo">Título: </label>
                    <input type="text" name="titulo" id="titulo" required />
                    <label for="descripcion">Descripción: </label>
                    <textarea name="descripcion" id="descripcion" placeholder="Escriba la descripcion de la tarea"
                        required>
                    </textarea>
                </div>
                <button type="submit" class="btn btn-primary">Crear tarea</button>
            </form>
        </div>
    </div>
</div>