<div class="container" [style.background-color]="tablero?.fondo">
    <h1>{{ tablero?.nombre }}</h1>
    <button routerLink="">Nueva Tarea +</button>
    <div class="columns">
        @for (columna of columnas; track columna.id) {
        <div class="column" [style.background-color]="columna.color" (dragover)="dragOver($event)"
            (drop)="drop(columna)">
            <h2>{{ columna.nombre }}</h2>
            <app-task [trigger]="trigger" [columna]="columna"></app-task>
        </div>
        }
    </div>
</div>