<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Crear Nuevo Tablero</h1>
            <form (ngSubmit)="crearTablero()">
                <div class="form-group">
                    <label for="nombre">Nombre del Tablero</label>
                    <input type="text" [(ngModel)]="tableroNuevo.nombre" name="nombre" class="form-control" id="nombre"
                        placeholder="Nombre del Tablero" required>
                    <label for="fondo">Color de Fondo</label>
                    <input type="color" [(ngModel)]="tableroNuevo.fondo" name="fondo" class="form-control" id="fondo"
                        required>
                </div>
                <button type="submit" class="btn btn-primary">Crear Tablero</button>
            </form>
        </div>
    </div>
</div>